.container{
  display: flex;

  &__people{
    flex: 1;
    background-color: yellow;

    h2{
    text-align: center;
    }
  }

  &__species{
    flex: 1;
    background-color: red;

    h2{
    text-align: center;
    }
  }

  &__vehicles{
    flex: 1;
    background-color: purple;

    h2{
    text-align: center;
    }
  }
}
